<li>
  <span class="timestamp">Posted <%= time_ago_in_words(article.created_at) %> ago</span>
  <span class="content"><%= raw article.body %></span>
 
  <span class="comment_count"><%= link_to article.comments.count > 0 ? "Read " + pluralize(count_threaded(article.comments), "comment"):"No comments yet", article %></span>
</li>