

<div ng-controller="ArticleCtrl" class="article-index">
	<h2>ARTICLES</h2>
	<div id="articles-list">
		<li ng-repeat="article in articles" class="article-preview">
			<h3>{{ article.title }}</h3>
			<img ng-src="{{article.image}}" class="photo">
			<br>
			<span>Comments ({{ article.comments.length }})<span>

		</li>
	</div>
</div>

<% @articles.each do |article| %>
	<li>
		<%= link_to article.title, article_path(article), class: 'article_link' %>	
	</li>
<% end %>


	<li><%= link_to "Create a New Article", new_article_path, class: 'new_article_link' %></li>