<div class="welcome">
	
	<% if !current_user.nil? %>
		<header>
			<h3 class="sidebar-title">Logged in as:</h3>
			<h2><%= current_user.username.capitalize %></h2>
			<span class="logout">
				<%= button_to "Logout", session_url, {method: :delete, class: "btn btn-default btn-block"} %>
			</span>
		</header>
	<% else %>
	
		<h3 class="sidebar-title">
			Create User!
		</h3>

		<%= render "/users/form", user: @user %>

		<hr>

		<h3 class="sidebar-title">
			Sign In!
		</h3>

		<%= render "/sessions/form", user: @user %>

	<% end %> 
	
	<hr>
	
	<div ng-controller="UserCtrl">
		<div class="achievements won">
			<h3 class="sidebar-title">ACHIEVEMENTS</h3>
		
			<!-- <ul ng-show="!badges.length">
				<li>
					<span class="badge-name">
						You have achieved nothing.
					</span>
				</li>
			</ul> -->
			
			<div>
				<ul id="achievementContainer">
					<div ng-repeat="badge in badges">
							<li>
								<i class="fa fa-star"></i>
								<span class="badge-name">
									{{ badge.badge.name }}
								</span>
							</li>
							<p class="completed">
								{{ badge.badge.description }}
							</p>
					</div>
				</ul>
			</div>		
		</div>
	</div>	
</div>


		


