<a href="#" class="hi-lightered">
	<hr>
	<h4 ><i class="fa fa-arrow-circle-o-left hi-lightered"></i>Back to Front Page</h4>
	<hr>
</a>

<div class="media">
		<h3 class="media-heading">{{ article.title }}</h3>
		<image ng-src="{{ article.image }}" class="media-object"></img>
		<div class="media-body">
			<p>{{ article.body }}</p>
		</div>
</div>
<hr/>

</div>
 
<div ng-controller="CommentCtrl">
  <form ng-submit="save()" ng-hide="!currentUser.username">
			<h4 class="hi-lightered">Say Something:</h4>
      <textarea ng-model="body" rows="4" style="width: 100%;" placeholder="Join the conversation"></textarea>	
      <div ng-repeat="error in errors.body" class="alert alert-error">
				<strong>Body</strong> {{ body }}</div>
      	<button type="submit" class="btn btn-primary btn-large">Post!</button>
  </form>
	
	<div ng-show="!currentUser.username">
		<h4 class="hi-lightered">Please sign in if you'd like to submit a comment!</h4>
	</div>

	<hr>
	

	
  <div class="media comment round" ng-repeat="comment in comments">
    <div class="media">
      <div class="media-body">
				<div class="likes group">
					<div class="circle ">
						<div class="vote-count">
							{{ comment.score }}
						</div>
					</div>
					<div class="votes group" ng-hide="!currentUser.username">
						<i class="upvote fa fa-arrow-circle-up" ng-class="{highlighted: comment.upvoted}" ng-click="upvote(comment)"></i>
						<i class="downvote fa fa-arrow-circle-down" ng-class="{highlighted: comment.downvoted}" ng-click="downvote(comment)"></i>
					</div>
				</div>

				<div class="comment-info">
					<h4 class="media-heading">
						{{ getUserName(comment.user_id) }}
					</h4>
		
			    <h4 class="media-heading">
			      <div class="secondary" style="font-size: 12px;">
			        {{ comment.created_at | fromNow }}
			      </div>
			    </h4>	
				</div>
				
        <p>
					{{comment.body}}			
					<!-- RAILS NESTED COMMENTS -->
					<!-- {{comment.subtree}} -->
				</p>
      </div>
    </div>
  </div>

  <hr/>
</div>

<div ng-controller="CommentCtrl">
	<script type="text/ng-template" id="modalpopup.html">

	<div class="modal-main">
		<h4>Achievement UNLOCKED!!</h4>
		<img ng-src="{{ badge.custom_fields.image }}"></img>
		<h3>{{ badge.name }}</h3>
		<p>{{ badge.description }}</p>

	</div>

  <div class="modal-footer">
      <button class="btn btn-warning" ng-click="cancel()">Nice, Dude!</button>
  </div>

	</script>
</div>