
/*gt
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require_self
 *= require_tree .
 */

/*
 */

/* Your stylesheets goes here... */

@font-face {
	font-family: "OstrichSans";
	src: url("/fonts/ostrich-sans-bold.ttf");
	font-weight: bold;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

p {
	text-indent: 20px;
}

span3 {
	float: left;
}

span6 {
	float: left;
}

a, a:hover {
	color: black;
}

#main ul, #achievementContainer ul, #user-info ul {
	list-style-type: none;
}

#achievementContainer p {
	text-indent: -10px;
}

.hp {
	
}

.hi-lightered, .hi-lightered:hover {
	color: #FF0041;
}

#user-info {
	background-color: #5C81E8;
	color: white;
}

#achievements {
	background-color: #48EDD5;
	color: #FF5947;
}

.padded {
	padding: 10px;
}

.round {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.sidebar-title, #achievements header {
	color: white;
	text-align: center;
}

.btn {
	margin-top: 10px;
}

.comment {
	padding: 10px;
	border: 3px solid #0DFFA3;
}

/*#main li, #achievements li, #user-info li {
	list-style: none;
}*/

/*.highlighted {
	color: red;
}*/

/*.container {
	margin-top: 60px;
}*/

/*#achievements {
	padding: 10px;
}*/

/*#user-info {
	background-color: #3498db;
}
*/

/*#main, #angular-main {
	border-top: 10px solid #FF0041;
}
*/

/*#achievements {
	background-color: #bdc3c7;
	overflow: hidden;
}*/

/*.welcome {
	background-color: #FF0041;
	display: block;
	padding: 20px 0;
}*/

/*.welcome h2 {
	font-family: "OstrichSans";
	font-style: italics;
	font-size: 48px;
	color: white;
	text-align: center;
}*/

/*.achievements h3 {
	font-size: 36px;
}*/

/*.achievemnts {
	color: white;
}*/


/*.comment {
	margin-top: 10px;
	padding: 10px;
	border: 1px solid #3498db;
	width: 300px;
}*/

/*.reply-form {
	margin-top: 0;
	border-top: none;
}*/

/*.nested_comment {
	margin-left: 15px;
	margin-top: 0;
}*/

/*.nested_comment .comment {
	background-color: #EBF5FB;
	margin-top: 0;
	border: none;
	border-bottom: 1px solid #3498db;
}*/
.container {
	margin: auto;
}
.header {
	text-align: center;
}
.modal-content {
	text-align: center;
}

.modal-content img {
	max-height: 250px;
}

.modal-content h3 {
	
}

.hidden {
	display: none;
}

	/*UPVOTE/DOWNVOTE STYLING*/

.comment i {
	color: lightgray;
	cursor: pointer;
}

.comment i:hover {
	color: darkgrey;
}

.comment i.highlighted.fa-arrow-circle-down {
	color: #3498db;
}

.comment i.highlighted.fa-arrow-circle-up {
	color: #ff0041;
}

#comments-index { 
	min-height: 120px;
}

.likes {
	width: 45px;
	display: inline-block;
	float: right;
}

.likes i {
	margin: 0;
}

.circle {
	width: 30px;
	height: 30px;
	border-radius: 15px;
	background-color: white;
	border: 1px solid lightblue;
	margin: auto;
	vertical-align: middle;
}

.vote-count {
	padding: 4px;
	text-align: center;
}

.votes { 
	margin: auto;
	text-align: center;
}

i {
	margin-right: 8px;
}

.media-heading {
	display: block;
}

.comment-info {
	padding: 5px;
}

.secondary {
	color: gray;
}


	/*OTHER STUFF*/

/*#comment_body {
	width: 280px;
}*/

/*.article {
	border-bottom: 1px solid lightgrey;
	margin-bottom: 15px;
}*/

/*.articles a { 
	color: black;
}*/

/*.articles h1 {
	text-align: center;
}*/

/*.articles h2 {
	margin: 0;
}*/

/*.article-body {
	padding-top: 8px;
}*/
/*.logout {
	text-align: center;
}*/

/*.nested_comment .nested_comment .comment{
	background-color: #D6EAF8;
	background-image: linear-gradient(#D6EAF8, white);
}*/

/*.nested_comment .nested_comment .nested_comment .comment{
	background-color: #C2E0F4;
	background-image: linear-gradient(#C2E0F4, white);
}*/

/*.nested_comment .nested_comment .nested_comment .nested_comment .comment{
	background-color: #AED6F1;
	background-image: linear-gradient(#C2E0F4, white);
}*/

/*.likes {
	width: 50px;
	float: right;
	text-align: center;
}*/

/*.won {
	color: white;
	padding: 0 15px;
}*/

/*.to-do {
	font-size: 12px;
}*/

.article img {
	width: 100%;
	padding: 10px 0;
}

.completed {
	text-decoration: line-through;
	font-size: 10px;
}



/*.contols a {
	padding: 5px;
}*/

input {
	max-width: 100%;
}

/*form {
	margin-left: 10px;
}*/

/*.sidebar-title {
	color: white;
	font-size: 24px;
	text-align: center;
}*/


/*.badges {
	padding: 0 20px 20px 20px;
}*/
