
/*gt
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require_self
 *= require_tree .
 */

/*
 */

/* Your stylesheets goes here... */

#main ul, #achievements ul, #user-info ul {
	list-style-type: none;
	margin-left: none !important;
}

#main li, #achievements li, #user-info li {
	list-style: none;
}

.container {
	margin-top: 60px;
}

#user-info, #achievements {
	padding: 10px;
}
#user-info {
	background-color: #3498db;
}

#main {
	border-top: 4px solid #e74c3c;
}

#achievements {
	background-color: #bdc3c7;
	overflow: hidden;
}


.comment {
	margin-top: 10px;
	padding: 10px;
	border: 1px solid #3498db;
	width: 300px;
}

.nested_comment {
	margin-left: 15px;
}

.nested_comment .comment {
	background-color: #EBF5FB;
	margin-top: 0;
	border: none;
	border-bottom: 1px solid #3498db;
/*	border-right: 1px solid #3498db;*/
/*	background-image: linear-gradient(#EBF5FB, white);*/
}

/*.nested_comment .comment:last-child {
	border-bottom: none;
}*/

.nested_comment .nested_comment .comment{
	background-color: #D6EAF8;
/*	background-image: linear-gradient(#D6EAF8, white);*/
}

.nested_comment .nested_comment .nested_comment .comment{
	background-color: #C2E0F4;
/*	background-image: linear-gradient(#C2E0F4, white);*/
}

.nested_comment .nested_comment .nested_comment .nested_comment .comment{
	background-color: #AED6F1;
/*	background-image: linear-gradient(#C2E0F4, white);*/
}

.likes {
	float: right;
}

.circle {
	width: 20px;
	height: 20px;
	border-radius: 10px;
	border: 1px solid lightblue;
	text-align: center;
}