

/*h1, h2, h3, h4, h5, h6, p, a, span, div, ul, li {
	padding: 0;
	margin: 0;
	border: 0;
	
	vertical-align: baseline;
}

.group {
	content: "";
	clear: both;
	display: table;
}

ul {
	list-style: none;
}

body {
	font-family: Helvetica, sans-serif;
}

p {
	font-size: 12px;
}

.timestamp {
	font-size: 10px;
	color: gray;
}

.nested_comment {
	margin-left: 20px;
}

li img.photo {
	width: 500px;
}

.article-index {
	width: 500px;
	margin: auto;
}

.article-preview {
	border-bottom: 1px solid lightgray;
	padding: 10px 0;
}*/
/*gt
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.comment {
	margin-top: 10px;
	padding: 10px;
	border: 1px solid lightblue;
}

.nested_comment {

	margin-left: 10px;
}

.nested_comment .comment {

	background: yellow;
	border: none;
	margin-top: 0;
}

.nested_comment .nested_comment .comment {
	background: orange;
}

.nested_comment .nested_comment .nested_comment .comment{
	background: red;
}
